.filters {
   display: grid;
   padding: 10px;
   grid-template-columns: 1fr;
   column-gap: 10px;
   border-bottom: 2px solid black;
}

@media (min-width: 376px) {
   .filters {
      grid-template-columns: 1fr 1fr;
   }
}

@media (min-width: 768px) {
   .filters {
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
}
