.basic-input {
   margin: 6px;
   width: 95%;
   height: 38px;
   display: flex;
   font-weight: 400;
   padding: 6px 12px;
   border: 1.5px solid #000;
   border-radius: 5px;
   transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
   font-size: 12px;
   font-weight: 400;
   line-height: 1.5;
   color: #000;

   &:focus {
      border-color: #86b7fe;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
   }
}
