.user-item {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   border-left: 2px solid black;
   border-bottom: 1px solid black;
   border-right: 2px solid black;
   &__information-container {
      padding: 15px;
      grid-gap: 1px;
      border-bottom: 1px solid black;
      & p span {
         font-weight: 600;
      }
   }
}

@media (min-width: 630px) {
   .user-item {
      display: grid;
      grid-template-columns: minmax(230px, 400px) minmax(230px, 400px) minmax(
            230px,
            400px
         );
      border-left: 2px solid black;
      border-bottom: 2px solid black;
      border-right: 1px solid black;
      &__information-container {
         padding: 15px;
         grid-gap: 1px;
         border-right: 1px solid black;
         border-bottom: 0px solid black;
      }
   }
}
